
@{
    ViewBag.Title = "Chirurgie";
}

<header>
    <h2 class="main-title-frame c2">Chirurgie</h2>
</header>
<div class="page-content">
    <div class="col-md-9 col-xs-8 left-content nopad-left">
        <p style="text-align:justify">Sunt situatii cand este necesara abordarea chirurgicala pentru rezolvarea anumitor complicatii, probleme aparute la nivelul cavitatii oro-maxilo-faciale. In general, toate acestea se realizeaza in clinca noastra fara probleme, pacientul fiind indrumat, sfatuit si consiliat in tot ceea ce presupune realizarea interventiei.</p>

        <p style="text-align:justify">Realizam cu succes urmatoarele interventii:</p>

        <ul>
            <li style="text-align: justify;">extractii ale molarilor si caninilor;</li>
            <li style="text-align: justify;">rezectii apicale;</li>
            <li style="text-align: justify;">chistectomii;</li>
            <li style="text-align: justify;">odontectomii;</li>
            <li style="text-align: justify;">extirpari tumorete de mici dimensiuni;</li>
            <li style="text-align: justify;">amputatii radiculare;</li>
            <li style="text-align: justify;">incizia abceselor periosoase.</li>
        </ul>

        <p style="text-align:justify">Desi, in general, sunt proceduri ce induc pacientului o stare initiala de teama, cadrul creat de catre echipa medicala, lipsa durerii, cooperarea permanenta medic - pacient in decursul interventiei, fac ca orice teama initiala sa fie inlaturata cu succes.</p>

        <p>&nbsp;</p>

    </div>
    </div>

