
@{
    ViewBag.Title = "Endodontie";
}

<header>
    <h2 class="main-title-frame c2">Endodontie</h2>
</header>
<div class="page-content">
    <div class="col-md-9 col-xs-8 left-content nopad-left">
        <p style="text-align: justify;"><strong>Tratamentul endodontic</strong></p>

        <p style="text-align: justify;">Reprezinta una din cele mai importante etape de tratament, fiind etapa de care depinde integritatea si sanatatea ulterioara a dintelui.</p>

        <p style="text-align: justify;">Un tratament endodontic efectuat cu profesionalism va va asigura ca in timp, dintele dumneavostra nu va prezenta procese infectioase la nivelul radacinii si astfel, avand o radacina sanatoasa a dintelui veti putea mentine integritatea structurii dentare o perioada extrem de lunga de timp.</p>

        <p style="text-align: justify;">In clinica noastra folosim sistemul complex de tratament &ldquo;<strong>Thermafill</strong>&rdquo; alaturi de instrumentarul rotativ produs de compania japoneza <strong>J. Morita</strong>.</p>

    </div>
    </div>

