<!DOCTYPE html>
<html lang="ro">
@{
    ViewBag.Title = "Endodontie";
}
<head>
<meta charset="UTF-8">
<title>Endodontie</title>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body style="font-family: 'Roboto', sans-serif; margin: 0; padding: 0; background: #f4f4f9; color: #333;">
    <header style="background-color: #0077cc; color: white; text-align: center; padding: 20px 0;">
        <h2 style="font-size: 26px;">Endodontie</h2>
    </header>
    <div class="page-content" style="display: flex; justify-content: center; padding: 20px;">
        <div class="text-box" style="background: #E6F0FF; box-shadow: 0 4px 8px rgba(0,0,0,0.15); padding: 20px; width: 80%; max-width: 800px; border-radius: 8px; font-size: 20px;">
            <p style="text-align: justify;"><strong>Tratamentul endodontic</strong>, adesea denumit „<strong>tratamentul de canal</strong>”, este esențial pentru <strong>menținerea sănătății</strong> dentare. Acesta intervine când <strong>pulpa dentară</strong>, care conține nervi și vase de sânge, devine inflamată sau infectată.</p>
            <p style="text-align: justify;"><strong>Profesionalismul</strong> și tehnologia de vârf sunt decisive în succesul acestui tratament, asigurând că procesele infecțioase nu vor afecta rădăcina dintele dumneavoastră, conservând astfel <strong>integritatea</strong> structurii dentare pentru o perioadă lungă de timp.</p>
            <p style="text-align: justify;">Utilizăm <strong>tehnologii avansate</strong> precum sistemul <strong>Thermafill</strong> și instrumentarul rotativ de la <strong>J. Morita</strong> pentru a oferi tratamente precise și confortabile. Astfel, eficiența și precizia sunt semnificativ îmbunătățite, iar riscurile scad.</p>
            <p style="text-align: justify;">Microscoapele dentare permit vizualizarea detaliată a canalelor radiculare, îmbunătățind <strong>șansele de succes</strong> ale tratamentului. Materialele biocompatibile folosite în obturații garantează <strong>sigilarea optimă</strong> și contribuie la <strong>sănătatea pe termen lung</strong> a dintelui tratat.</p>
            <p style="text-align: justify;">La clinica noastră, fiecare pacient este tratat cu <strong>maximă atenție</strong>, folosindu-se cele mai bune materiale și echipamente disponibile. Scopul nostru principal este de a <strong>salva</strong> dintele natural și de a evita procedurile invazive, oferind astfel beneficii durabile pentru sănătatea orală a pacienților noștri.</p>
        </div>
    </div>
</body>
</html>
