
@{
    ViewBag.Title = "Estetica";
}

<header>
    <h2 class="main-title-frame c2">Estetica si cosmetica dentara</h2>
</header>
<div class="page-content">
    <div class="col-md-9 col-xs-8 left-content nopad-left">
        <p style="text-align:justify"><strong>Estetica si cosmetica dentara</strong></p>

        <p style="text-align:justify">&quot;Zambetul este probabil cel mai simplu, mai scurt si mai popular act de comunicare umana&rdquo;</p>

        <p style="text-align:justify">Acestea fiind stiute si faptul ca in relatiile sociale un zambet poate spune mai mult decat 1000 de cuvinte si ca &bdquo;zambetul atrage zambete&rdquo;, preocuparea medicilor dentisti a fost de a completa acest zambet cu o dantura sclipitoare.</p>

        <p style="text-align:justify">Multi dintre noi am observat persoane care, in spatele unui zambet minunat prezentau dantura intr-un contrast evident. Nimic nu este mai placut atunci cand un zambet minunat este completat de o dantura minunata.</p>

        <p style="text-align:justify">Corectarea deficientelor este posibila si fiecare persoana ce se simte inhibata de aspectul danturii poate apela cu incredere la clinica noastra.</p>

        <p style="text-align:justify">Estetica si cosmetica dentara, locul unde arta si stiinta se intalnesc, rezolva toate aceste probleme.</p>

        <p style="text-align:justify"><strong>Fatete dentare</strong></p>

        <p style="text-align:justify">Fatetele dentare sunt probabil cel mai des folosite atunci cand avem in zona frontala probleme de estetica, dintii prezentand coloratii, sunt ciobiti, fisurati sau usor spatiati.</p>

        <p style="text-align:justify">Fatetele sunt integral ceramice, in culoarea naturala a dintelui si se aplica pe suprafata dintelui prin cimentare, asemenea unei &bdquo;unghii false&rdquo;.</p>

        <!--<p style="text-align: center;"><img alt="" src="/data/_editor/images/Estetica_si_cosmetica_dentara-1.jpg" style="height:157px; width:166px" /></p>-->

        <p style="text-align:justify"><strong>Coroanele dentare</strong></p>

        <p style="text-align:justify">Coroanele dentare ceramice pe suport de zirconiu - datorita tehnologiei de realizare, frezare computerizata, tehnologie CAD/CAM (Computer Adied Design/Computer Aided Manufactuer) si a faptului ca nu prezinta structura metalica de sustinere (cum este cazul coroanelor de ceramica pe suport metalic), fiind in culoarea naturala a dintelui, aceste coroane confera o estetica exceptionala.</p>

        <p style="text-align:justify">Utilizata la dintii cu probleme de structura mai ample (fracturi, procese carioase ample, distructii coronare mari), coroanele ceramice pe suport de zirconiu sunt solutia ideala, atat pentru recuperarea functiei estetice, cat si a celei functionale depline.</p>

        <!-- <p style="text-align: center;"><img alt="" src="/data/_editor/images/Estetica_si_cosmetica_dentara-2.jpg" style="height:206px; width:290px" /></p>-->

        <p style="text-align:justify"><strong>Albirea dentara</strong></p>

        <p style="text-align:justify">Albirea dentara reprezinta solutia cea mai des utilizata de catre pacientii ce nu prezinta probleme de structura ale dintilor, fiind necesara numai schimbarea de culoare a acestora.</p>

        <p style="text-align:justify">Albirea se realizeaza in clinica noastra intr-o sedinta, fiind folosita lampa cu Plasma si sistemul de albire ZOOM/ZOOM - Advance Power (lider mondial).</p>

        <p style="text-align:justify">Pacientii ce nu doresc albirea cu lampa, pot opta pentru sistemul de albire gutiere-gel, caz in care, pacientul trebuie sa poarte in interiorul gutierei un gel special de albire (Opalesence) timp de 5-6 ore pe zi pentru 7-10 zile.</p>

         <!--<p style="text-align: center;"><img alt="" src="/data/_editor/images/Estetica_si_cosmetica_dentara-3.jpg" style="height:267px; width:191px" /></p>-->

        <p style="text-align:justify"><strong>Obturatiile de compozit (plombele)</strong></p>

        <p style="text-align:justify">Obturatiile de compozit cu particule nanoceramice - obturatiile, cunoscute popular sub denumirea de &bdquo;plombe&rdquo;, au cunoscut in ultimii ani imbunatatiri calitative evidente.</p>

        <p style="text-align:justify">Daca initial obturatiile nu respectau nici macar culoarea naturala a dintelui, fiind de aspect metalic, aparitia obturatiilor de compozit a facut ca aceasta problema legata de estetica sa fie rezolvata, pacientii numindu-le &bdquo;plombe albe&rdquo;.</p>

        <p style="text-align:justify">Proprietatile si calitatile acestora au evoluat constant si daca la inceput vorbeam doar de un avantaj estetic, astazi obturatiile moderne confera particularitati superioare de rezistenta, conservare si protectie a structurii dintelui (pot elibera cantitati mici de fluor), sunt mult mai manevrabile si au o estetica superioara.</p>

        <p style="text-align:justify">In clinica noastra folosim materiale produse de liderii mondiali in domeniu: <strong>3M ESPE, GC Company si DENTSPLY.</strong></p>

         <!--<p style="text-align: center;"><img alt="" src="/data/_editor/images/Estetica_si_cosmetica_dentara-5.jpg" style="height:215px; width:330px" /><img alt="" src="/data/_editor/images/Estetica_si_cosmetica_dentara-4%20%281%29.jpg" style="height:252px; width:579px" /></p>-->

        <p style="text-align:justify"><strong>Periajul profesional, detartraj, air-flow</strong></p>

        <p style="text-align:justify">De foarte multe ori placa bacteriana, tartrul, ascund aspectul natural al dintilor.</p>

        <p style="text-align:justify">Astfel, in urma unei igienizari profesionale se poate constata o imbunatatire a aspectului dintilor, acestia devenind mai deschisi la culoare, mai curati.</p>

        <p style="text-align:justify">Detartrajul este realizat in clinica noastra folosind instrumentar ultrasonic, ce se bazeaza pe principiul vibratiilor mecanice de inalta frecventa.</p>

        <p style="text-align:justify">Detartrajul este urmat de periaj profesional, ce include folosirea unei creme speciale de indepartare a rezidurilor, a petelor, folosind perii la turatii adecvate.</p>

        <p style="text-align:justify">
            De multe ori aceste manopere sunt asociate cu folosirea unui aparat numit &bdquo;Air-Flow&rdquo; ce are ca principala calitate folosirea cu presiune la nivelul structurii dentare a unei pulberi de bicarbonat de sodiu, pulbere ce ajuta la indepartarea in totalitate a anumitor coloratii si a rezidurilor pe care detartrajul si periajul nu le pot inlatura.<br />
            In clinica noastra folosim aparatura produsa de catre compania Electro Medial System (E.M.S), lider mondial in acest domeniu.
        </p>

        </div>
    </div>

