
@{
    ViewBag.Title = "Implantologie";
}

<header>
    <h2 class="main-title-frame c2">Implantologie</h2>
</header>

    <div class="page-content">
        <div class="col-md-9 col-xs-8 left-content nopad-left">
            <p style="text-align:justify"><strong>Clinica noastra, cu sprijinul furnizorilor, organizeaza periodic campanii de promovare avand un singur scop: recuperarea functiilor anatomo-estetice ale cavitatii dentare cu ajutorul implanturilor dentare.</strong></p>

            <p style="text-align:justify"><strong>Astfel, periodic, clinica noastra ofera tuturor posibilitatea de a se bucura de beneficiile unui implant dentar, modern si de calitate la costuri reduse.</strong></p>

            <p style="text-align:justify"><strong>Beneficiati de implantul dentar Alpha Bio la pretul special de 299 euro! </strong>(pretul este pentru implantul dentar exclusiv si nu include bonturile si coroana dentara).</p>

            <p style="text-align:justify"><strong>Implantul dentar -</strong> reprezinta in fapt o radacina artificiala, din titan sau zirconiu, ce inlocuieste radacina naturala a dintelui si are ca scop crearea suportului pentru realizarea de coroane sau punti dentare, atunci cand pe arcada nu mai sunt prezenti dinti sau cand cei prezenti nu se califica pentru un tratament dentar de succes.</p>

            <p style="text-align:justify">Practic, implantul dentar se prezinta sub forma unui &quot;surub&quot;, cu un relief divers, in functie de categoria din care face parte si de producator.</p>

            @*<p style="text-align: center;"><img alt="" src="/data/_editor/images/implantul-dentar-astazi-1.jpg" style="height:278px; width:180px" /><img alt="" src="/data/_editor/images/implantul-dentar-astazi-2.jpg" style="height:277px; width:180px" /><img alt="" src="/data/_editor/images/implantul-dentar-astazi-3.jpg" style="height:427px; width:518px" /></p>*@

            <p style="text-align:justify">
                &nbsp;&nbsp;<br />
                Astazi, implantul de succes si cel mai des folosit in lumea medicala dentara este reprezentat de implantul dentar din titan, osteointegrat endo-osos (cu alte cuvinte, este implantul care se insereaza complet in osul maxilar sau mandibular si in jurul caruia se formeaza substanta osoasa, os).
            </p>

            <p style="text-align:justify">Pe langa implantul din titan, in ultimii ani, s-a remarcat folosirea pe scara din ce in ce mai larga si a implantului din zirconiu.</p>

            <p style="text-align:justify"><strong>Cum se procedeaza?</strong></p>

            <p style="text-align:justify">Inainte de a prezenta pasii de baza necesari in introducerea unui implant in clinica noastra, mentionam ca aceasta interventie este COMPLET nedureroasa, realizandu-se sub anestezie locala. De asemenea, trebuie amintit faptul ca implantul dentar substituie si reprezinta numai radacina dintelui (!) si nu trebuie confundat cu partea estetica ce se vede la nivelul cavitatii orale (coroana sau lucrari protetice din ceramica sau zirconiu), aceasta reprezentand o alta etapa distincta de tratament.</p>

            <p style="text-align:justify">
                <strong>1. Primul pas este reprezentat de consultatie.</strong><br />
                Medicul competent in domeniul implantologiei dentare va face consultul, analiza de caz, va observa particularitatile dvs, va va explica situatia gasita si va raspunde intrebarilor dvs.&nbsp;Ulterior, medicul va va recomanda sa faceti unele examene complementare consultatiei, precum: radiografii dentare si efectuarea de analize minime, de baza ale sangelui (prin acestea se incearca excluderea inca din start a anumitor riscuri ce pot aparea, riscuri ce nu pot fi evidentiate la simpla consultatie si care pot contraindica implantul dentar).
            </p>

            <p style="text-align:justify">In clinica noastra, consultatia este gratuita si se face in urma unei simple programari telefonice la nr. 021.231.57.37</p>

            <p style="text-align:justify">
                <strong>2. In cea de a doua sedinta.&nbsp;</strong><br />
                Medicul implantolog va analiza examenele complementare cerute, va prezenta pacientului eventualele particularitati observate in urma realizarii acestora si in cele din urma va da sau nu acceptul pentru interventia de inserare a implantului.&nbsp;Daca acceptul dat de medic este confirmat si de catre pacient, se trece la programarea pentru sedinta de inserare, introducere a implantului dentar.
            </p>

            <p style="text-align:justify">
                <strong>3. Inserarea propiru-zisa</strong><br />
                Pentru a se introduce implantul dentar, este necesar in prealabil crearea unei cavitati la nivel osos, maxilar sau mandibular, cavitate realizata cu ajutorul unei aparaturi specifice, freze speciale, utilizand tehnici si viteze adecvate fiecarui caz in parte.
            </p>

            @*<p style="text-align: center;"><img alt="" src="/data/_editor/images/implantul-dentar-astazi-4.jpg" style="height:267px; width:240px" /></p>*@

            <p style="text-align:justify">Astfel, in timpul procesului de frezare in vederea realizarii cavitatii, experienta medicului este foarte importanta in reusita si succesul unui implant, deoarece se va avea in vedere nu numai traiectul cavitatii, evitarea particularitatilor anatomice, dar si mentinerea unei temperaturi locale sub 45-47 de grade Celsius, temperatura necesara pentru a nu se distruge celulele osoase (osteoblaste) prin supraincalzire.</p>

            <p style="text-align:justify">Dupa realizarea cavitatii, implantul dentar se infileteaza (autofiletant) in cavitatea creata, avand in vedere si urmarind aplicarea unor forte de infiletare extreme de precise.</p>

            <p style="text-align:justify">Odata infiletat, se face sutura mucoasei gingivale (gingiei) si fiind introdus in os, implantul se va lasa o perioada suficienta de timp pentru a se integra (osteointegrarea).</p>

            <p style="text-align:justify">In acest moment implantul dentar nu mai este vizibil cu ochiul liber, fiind acoperit de mucoasa gingivala, putand fi evidentiat insa prin examen radiologic (radiografie).</p>

            <p style="text-align:justify">Numai dupa osteointegrarea completa a implantului se va trece la realizarea de lucrari protetice: coroane sau punti dentare.</p>

            <p style="text-align:justify">Aceasta perioada de integrare variaza, depinzand de calitatea, cantitatea osoasa a fiecarui pacient, de respectarea tehnicilor corecte de inserare osoasa a implantului si se situeaza de regula intre 2-6 luni.</p>

            @*<p style="text-align: center;"><img alt="" src="/data/_editor/images/implantul-dentar-astazi-5.jpg" style="height:244px; width:207px" /></p>*@

            <p style="text-align:justify">Daca pe implant se va realiza lucrarea protetica, coroana, mai devreme, este posibil ca implantul sa nu reziste la fortele la care este supus, sa fie mobil si sa rezulte un esec.</p>

            <p style="text-align:justify">Timpul necesar pentru introducerea unui implant variaza in functie de particularitatile locale ale fiecarui pacient, de tehnica si de experienta medicului, dar se situeaza in medie la 30-45 minute, in functie de numarul de implanturi si eventualele manopere suplimentare.</p>

            <p style="text-align:justify">Aceasta abordare prezentata mai sus, este cel mai des utilizata si a fost descrisa pentru prima data, de catre &ldquo;<strong>parintele implantologie moderne</strong>&rdquo;, suedezul <strong>Prof. Per-Ingvar Branemark</strong> (vezi sectiunea &quot;&Iuml;nformatii&quot; - Istoria implantului - Prof. Branemarck), care a descoperit si descris complet procesul de integrare osoasa a implantului, proces ce l-a numit &ldquo;<strong>osteointegrare</strong>&rdquo; (scoala suedeza in anul 1952, in baza studiilor microscopice realizate la interfata os-implant).</p>

            <p style="text-align:justify">Exista si alte abordari, ce le vom descrie ulterior, dar toate pornesc de la descoperirea Prof. Branemarck si anume: integrarea osoasa a implantului, ostetointegrarea, formarea de celule osoase in jurul implantului (ceea ce-i confera rezistenta si durabilitate in timp).</p>

            <p style="text-align:justify">Fara aceasta conditie esentiala, implantologia moderna nu ar fi posibila, ea reprezentand si punctul de plecare pentru intreaga dezvoltare ulterioara a domeniului complex al implantologiei dentare in intreaga lume.</p>

            <p style="text-align:justify">Astazi, alaturi de <strong>Prof. Branemark</strong>, un rol important in domeniul implantologiei moderne il au si alti implantologi precum: <strong>Prof. Dr. Carl E. Misch</strong>-USA (vezi sectiunea &quot;Informatii &quot;- Istoria implantului - <strong>Prof. Carl Misch</strong>) care este recunoscut pe plan mondial pentru contributia sa la intelegerea si dezvoltarea implantologiei dentare, <strong>Prof. Dr. Kenneth Judy</strong> (USA), <strong>Prof. Dr. Ady Palti</strong> (Germania) si nu in cele din urma <strong>Prof. Dr. Sami Sandhaus</strong> (nascut in 1927 la Cernauti, breveteaza primele implanturi ceramice, onorat cu premiul UNESCO).</p>

            <p style="text-align:justify">Ca o remarca particulara precizam ca, din punct de vedere stiintific in ultimii ani in randul practicienilor, termenul de osteointegrare este inlocuit cu cel de osteoacceptare, considerat si de noi, ca fiind o abordare mult mai corecta strict din punct de vedere profesional.</p>

            <p style="text-align:justify">Astfel, se considera ca implanturile moderne ce se insereaza in os (endo-osoase) sunt acceptate si tolerate, deoarece la majoritatea implanturilor se observa (radiologic si histologic) o delimitare la nivelul interfetei os-implant.</p>

            <p style="text-align:justify">Osteointegrarea ar presupune, strict din punct de vedere stiintific, disparitia acestei delimitari dintre implant si os la nivelul interfetei dintre cele doua structuri, situatie intalnita spre exemplu in cazul transplantului osos.</p>

        </div>
    </div>

