
@{
    ViewBag.Title = "Ortodontie";
}


   <header>
    <h2 class="main-title-frame c2">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Ortodontie</h2>
   </header>
<div class="container body-content">
    <div class="col-md-9 col-xs-8 left-content nopad-left">
        <p>Aparatele dentare fixe sunt cel mai eficient si modern mod de a preveni si trata anomalii sau disfunctii ale structurilor dentare.</p>

        <p>Fie ca vorbim despre aparatele dentare fixe ceramice, metalice sau cele ce se aplica pe interior, fara a fi vizibile, toate fara exceptie au un singur scop: asigurarea unei sanatati functionale si structurale perfecte a danturii, alaturi de un aspect vizual exterior impecabil.</p>

        <p>Avand in vedere ca preventia sau tratarea la timp a problemelor aparute sunt aspecte ce nu necesita amanare, Clinica Elite Dent oferta tutror celor interesati posibilitatea de a beneficia de o consultatie gratuita din partea unui medic specialist in acest domeniu, de a fi informat si a stii exact ceea ce este de facut.</p>


        <p>Beneficiati de pretul special de 2999 RON pentru aparatul dentar fix ceramic. Pretul este pentru o arcada dentara si nu include activarile ulterioare.&nbsp;</p>

        <h3>Ortodontia</h3>

        <p style="text-align:justify">Este ramura a stomatologiei prin care se trateaza afectiuni ale dintilor ce tin de:</p>

        <p><strong>- inchiderea incorecta a gurii (malocluzie)</strong></p>

        <!--<p style="text-align:center"><img alt="" src="http://www.elitedent.ro/data/_editor/images/Ortodontie-1.jpg" style="background-color:rgb(255, 255, 255); border-bottom-left-radius:5px; border-bottom-right-radius:5px; border-top-left-radius:5px; border-top-right-radius:5px; border:0px; height:153px; margin:0px; padding:5px; width:217px" /></p>-->

        <p><strong>- pozitionarea incorecta a dintilor pe arcada (malpozitie)</strong></p>

        <!--<p style="text-align:center"><img alt="" src="http://www.elitedent.ro/data/_editor/images/Ortodontie-2.jpg" style="background-color:rgb(255, 255, 255); border-bottom-left-radius:5px; border-bottom-right-radius:5px; border-top-left-radius:5px; border-top-right-radius:5px; border:0px; height:143px; margin:0px; padding:5px; width:337px" /></p>-->

        <p style="text-align:justify">Ortodontia, incerca sa corecteze aceste anomalii, cu ajutorul aparatelor dentare fixe si mobile, fiind o alternativa reala, atat pentru copii, tineri, cat si pentru adulti.</p>

        <!--<p style="text-align:center"><img alt="" src="http://www.elitedent.ro/data/_editor/images/Ortodontie-3.jpg" style="background-color:rgb(255, 255, 255); border-bottom-left-radius:5px; border-bottom-right-radius:5px; border-top-left-radius:5px; border-top-right-radius:5px; border:0px; height:165px; margin:0px; padding:5px; width:193px" /><img alt="" src="http://www.elitedent.ro/data/_editor/images/Ortodontie-4.jpg" style="background-color:rgb(255, 255, 255); border-bottom-left-radius:5px; border-bottom-right-radius:5px; border-top-left-radius:5px; border-top-right-radius:5px; border:0px; height:165px; margin:0px; padding:5px; width:238px" /></p>-->

        <h3>Ocluzia dentara</h3>

        <p style="text-align:justify">Ocluzia dentara este reprezentata in termeni extrem de simplii, de contactul dintre dinti, atunci cand se produce miscarea de apropiere a mandibulei catre maxilar, in timpul masticatiei (si aici vorbim de ocluzia dinamica) si/sau a repausului (vorbim de ocluzia statica).</p>

        <p style="text-align:justify">Atunci cand avem o ocluzie corecta, atat statica cat si dinamica, la nivelul structurilor dentare se realizeaza contacte functionale, contacte vizibile prin faptul ca fiecarei grupe de dinti, fiecarui dinte ii corespunde o pozitie de contact specifica, anatomic corecta.</p>

        <p style="text-align:justify">Aceste pozitii, anatomic-corecte, au rolul de a prelua din sarcini si de a distribui uniform fortele care actioneaza asupra dintilor prin presiune/muscare.</p>

        <p style="text-align:justify">Atunci cand aceste pozitii anatomice, specifice si corecte, nu se realizeaza, vorbim de inchiderea incorecta a gurii &ldquo;malocluzie&rdquo; (si o distribuire incorecta a fortelor).</p>

        <p style="text-align:justify">Problema majora apare in cazul in care aceste contacte nu se realizeaza in mod corect si astfel se poate ajunge la complicatii dintre cele mai neplacute, complicatii ce pot interesa&nbsp;nu numai dintii, ci mai grav, articulatia temporo-mandibulara si muschii.</p>

        <p style="text-align:justify">
            O ocluzie incorecta poate duce la:&nbsp;<br />
            dureri ale dintilor, lucrarile dentare, obturatiile (&ldquo;plombele&rdquo;) dentare se uzeaza prematur, se sparg, retractiile gingivale pot fi favorizate de catre ocluzia incorecta, mobilitate dentara.
        </p>

        <p style="text-align:justify">Cele mai neplacute sunt probleme date articulatiei temporo-mandibulare (ATM) care se manifesta prin dureri articulare si musculare, zgomote specifice - &ldquo;cracmente&rdquo;, dificultati in deschiderea si inchiderea gurii.</p>

        <h3>Malocluzia</h3>

        <p style="text-align:justify">Malocluzia duce la solicitari suplimentare ale muschilor, manifestandu-se prin oboseala si spasme musculare, asociate cu dureri articulare, dureri de cap, dificultati in masticatie (ceea ce conduce si la probleme ale tubului digestiv).</p>

        <p style="text-align:justify">De asemenea pozitionarea incorecta a unuia sau mai multor dinti pe arcada dentara (malpozitia) pe langa toate cele enumerate mai sus, conduce si la realizarea unei igiene locale defectuoase ce favorizeaza aparitia cariilor dentare, la acumulara excesiva de tartru, precum si la probleme legate de mobilitate.</p>

        <h3>Malpozitiile</h3>

        <p style="text-align:justify">
            Malpozitiile pot fi evidentiate prin inghesuiri ale dintilor (incongruente dento-alveolare prin inghesuire), cat si prin spatieri ale acestora (incongruente dento-alveolare prin spatiere).<br />
            <br />
            Netratate, toate acestea duc la ceea ce noi numim&nbsp;<strong>trauma ocluzala.</strong>
        </p>

    </div>
   </div>

