<br />
<br />
<br />
<br />
@{
    ViewBag.Title = "Ortodontie";
}


<head>
    <meta charset="UTF-8">
    <title>Ortodontie</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body style="font-family: 'Roboto', sans-serif; margin: 0; padding: 0; background: #f4f4f9; color: #333;">
    <header style="background-color: #0077cc; color: white; text-align: center; padding: 20px 0;">
        <h2 style="font-size: 26px;">Ortodontie</h2>
    </header>
    <div class="container body-content" style="display: flex; justify-content: center; padding: 20px;">
        <div class="text-box" style="background: #E0F2FF; box-shadow: 0 4px 8px rgba(0,0,0,0.15); padding: 30px; width: 100%; max-width: 960px; border-radius: 8px; font-size: 20px;">
            <p>Aparatele dentare fixe sunt cel mai eficient și modern mod de a preveni și trata anomalii sau disfuncții ale structurilor dentare.</p>
            <p>Fie că vorbim despre aparatele dentare fixe ceramice, metalice sau cele ce se aplică pe interior, fără a fi vizibile, toate fără excepție au un singur scop: asigurarea unei sănătăți funcționale și structurale perfecte a danturii, alături de un aspect vizual exterior impecabil.</p>
            <p>Având în vedere că prevenția sau tratarea la timp a problemelor apărute sunt aspecte ce nu necesită amânare, Clinica Elite Dent oferă tuturor celor interesați posibilitatea de a beneficia de o consultatie gratuită din partea unui medic specialist în acest domeniu, de a fi informat și a ști exact ce este de făcut.</p>
            <p>Beneficiați de prețul special de 2999 RON pentru aparatul dentar fix ceramic. Prețul este pentru o arcadă dentară și nu include activările ulterioare.</p>
            <h3>Ortodonția</h3>
            <p>Este ramura a stomatologiei prin care se tratează afecțiuni ale dinților ce țin de:</p>
            <ul>
                <li><strong>- închiderea incorectă a gurii (malocluzie)</strong></li>
                <li><strong>- poziționarea incorectă a dinților pe arcadă (malpoziție)</strong></li>
            </ul>
            <p>Ortodonția încearcă să corecteze aceste anomalii, cu ajutorul aparatelor dentare fixe și mobile, fiind o alternativă reală, atât pentru copii, tineri, cât și pentru adulți.</p>
            <h3>Ocluzia dentară</h3>
            <p>Ocluzia dentară este reprezentată în termeni extrem de simpli, de contactul dintre dinți, atunci când se produce mișcarea de apropiere a mandibulei către maxilar, în timpul masticației (și aici vorbim de ocluzia dinamică) și/sau a repausului (vorbim de ocluzia statică).</p>
            <p>Când avem o ocluzie corectă, atât statică cât și dinamică, la nivelul structurilor dentare se realizează contacte funcționale, contacte vizibile prin faptul că fiecărei grupe de dinți, fiecărui dinte îi corespunde o poziție de contact specifică, anatomic corectă.</p>
            <p>Aceste poziții, anatomic-corecte, au rolul de a prelua din sarcini și de a distribui uniform forțele care acționează asupra dinților prin presiune/muscare.</p>
            <p>Când aceste poziții anatomice, specifice și corecte, nu se realizează, vorbim de închiderea incorectă a gurii „malocluzie” (și o distribuire incorectă a forțelor).</p>
            <p>Problema majoră apare în cazul în care aceste contacte nu se realizează în mod corect și astfel se poate ajunge la complicații dintre cele mai neplăcute, complicații ce pot interesa nu numai dinții, ci mai grav, articulația temporo-mandibulară și mușchii.</p>
            <p>O ocluzie incorectă poate duce la dureri ale dinților, lucrările dentare, obturațiile („plombele”) dentare se uzează prematur, se sparg, retractiile gingivale pot fi favorizate de către ocluzia incorectă, mobilitate dentară.</p>
            <p>Cele mai neplăcute sunt problemele date de articulația temporo-mandibulară (ATM) care se manifestă prin dureri articulare și musculare, zgomote specifice - „cracmente”, dificultăți în deschiderea și închiderea gurii.</p>
        </div>
    </div>
</body>
</html>