
@{
    ViewBag.Title = "Parodontologie";
}

<header>
    <h2 class="main-title-frame c2">Parodontologie</h2>
</header>
<div class="page-content">
    <div class="col-md-9 col-xs-8 left-content nopad-left">
        <p style="text-align: justify;">Boala parodontala este o afectiune a structurilor dentare ce afecteaza gingia, ligamentele si osul alveolar, fiind popular&nbsp;si impropriu cunoscuta sub numele de &ldquo;paradontoza&rdquo;.</p>

        <p style="text-align: justify;">Avand in vedere ca tratamentul acestei afectiuni este complex si are ca scop esential reabilitarea functiilor aparatului dento-maxilar, in clinica noastra veti beneficia de un consult interdisciplinar, absolut necesar in rezolvarea cu succes a acestor probleme.</p>

    </div>
    </div>

