<!DOCTYPE html>
<html lang="ro">
@{
    ViewBag.Title = "Parodontologie";
}
<head>
    <meta charset="UTF-8">
    <title>Parodontologie</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body style="font-family: 'Roboto', sans-serif; margin: 0; padding: 0; background: #f4f4f9; color: #333;">
    <header style="background-color: #0077cc; color: white; text-align: center; padding: 20px 0;">
        <h2 style="font-size: 26px;">Parodontologie</h2>
    </header>
    <div class="page-content" style="display: flex; justify-content: center; padding: 20px 0;">
        <div class="text-box" style="background: #E0F2FF; box-shadow: 0 4px 8px rgba(0,0,0,0.15); padding: 30px; width: 100%; max-width: 960px; border-radius: 8px; font-size: 20px;">
            <p style="text-align: justify; margin-bottom: 20px;"><strong>Boala parodontală</strong>, uneori impropriu numită &ldquo;paradontoza&rdquo;, este o afectare a structurilor de susținere ale dinților, incluzând gingia, ligamentele periodontale și osul alveolar.</p>

            <p style="text-align: justify; margin-bottom: 20px;">Tratamentul acestei boli este complex și necesită o abordare meticuloasă și personalizată, având ca scop esențial <strong>reabilitarea funcționalității aparatului dento-maxilar</strong>. La clinica noastră, pacienții beneficiază de un <strong>consult interdisciplinar</strong>, esențial pentru evaluarea corectă și tratarea eficientă a afectiunilor parodontale.</p>

            <p style="text-align: justify; margin-bottom: 20px;">Fiecare tratament este adaptat pentru a răspunde nevoilor specifice ale pacientului, folosindu-se cele mai moderne tehnici și tehnologii pentru a asigura rezultate de durată și îmbunătățirea sănătății orale.</p>

            <p style="text-align: justify; margin-bottom: 0px;">Dedicăm timp și resurse considerabile pentru educația pacienților despre importanța igienei orale și a controalelor periodice, esențiale pentru menținerea sănătății parodontale și prevenirea complicațiilor asociate.</p>
        </div>
    </div>
</body>
</html>

