<!DOCTYPE html>
<html lang="ro">
<br />
<br />
<br />
<br />
@{
    ViewBag.Title = "Radiologie";
}
<head>
    <meta charset="UTF-8">
    <title>Radiologie Dentară</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body style="font-family: 'Roboto', sans-serif; margin: 0; padding: 0; background: #f4f4f9; color: #333;">
    <header style="background-color: #0077cc; color: white; text-align: center; padding: 20px 0;">
        <h2 style="font-size: 26px;">Radiologie Dentară</h2>
    </header>
    <div class="page-content" style="display: flex; justify-content: center; padding: 20px 0;">
        <div class="text-box" style="background: #E0F2FF; box-shadow: 0 4px 8px rgba(0,0,0,0.15); padding: 30px; width: 100%; max-width: 960px; border-radius: 8px; font-size: 20px;">
            <p style="text-align: justify; margin-bottom: 20px;"><strong>Radiologia dentară</strong> joacă un rol esențial în diagnosticarea și tratamentul afecțiunilor dentare. Este un instrument vital pentru detectarea problemelor ascunse și planificarea tratamentelor eficiente.</p>

            <p style="text-align: justify; margin-bottom: 20px;">Utilizând tehnologie de ultimă oră, cum ar fi <strong>radiografia digitală</strong> și <strong>tomografia computerizată</strong>, clinica noastră poate oferi imagini detaliate ale structurii dentare și ale țesuturilor moi. Acest lucru permite o evaluare precisă și rapidă, contribuind semnificativ la stabilirea unui diagnostic corect.</p>

            <p style="text-align: justify; margin-bottom: 20px;">Avantajele radiologiei digitale includ <strong>expunere redusă la radiații</strong>, calitate îmbunătățită a imaginilor și posibilitatea de a partaja rapid aceste imagini cu specialiștii din cadrul echipei noastre sau chiar cu alte clinici, dacă este necesar.</p>

            <p style="text-align: justify; margin-bottom: 20px;">Printre procedurile comune se numără <strong>radiografiile panoramice</strong> și <strong>CBCT</strong> (Cone Beam Computed Tomography), esențiale pentru planificarea tratamentelor ortodontice, a implanturilor și a altor proceduri chirurgicale complexe.</p>

            <p style="text-align: justify; margin-bottom: 20px;">Echipa noastră de radiologi este specializată în utilizarea acestor tehnologii avansate, garantând că fiecare pacient beneficiază de cel mai înalt nivel de îngrijire medicală. Investim în mod continuu în formarea profesională a personalului și în tehnologie de vârf pentru a menține standardele înalte de siguranță și calitate.</p>


        </div>
    </div>
</body>
</html>