
@{
    ViewBag.Title = "Radiologie";
}

<header>
    <h2 class="main-title-frame c2">Radiologie dentara</h2>
</header>
<div class="page-content">
    <div class="col-md-9 col-xs-8 left-content nopad-left">
        <p style="text-align:justify">In clinica noastra beneficiati de posibilitatea efectuarii de radiografii dentare folosind aparatura de radiologie moderna, minim radianta, nefiind necesara deplasarea in afara clinicii pentru executarea acestora.</p>

    </div>
    </div>
